<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" href="/static/css/pagesStyles.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
	<header id="header">
		<div id="title_position">
			<label id="title_text">Detské spánkové laboratórium</label>
		</div>
		<div id="logout_btn_position">
			<button class="action_button_2" id="logout_btn" {{#if noLogout}} style="display: none;" {{/if}}>Odhlásiť</button>
		</div>
	</header>
	{{{body}}}
</body>

</html>

<script>
$('#logout_btn').click(function(){
  alert('klikol si');
  
})
</script>