<style>
  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    color: rgb(0, 67, 116);
    background-color: #E1EBF2;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
    border: solid 2px #3686BE;
    border-radius: 2px;
  }

  input[type=radio]:checked+label {
    color: white;
    background-color: #3686BE;
  }

  .row_content123 {
    width: 100%;
    height: 100px;
    /*background-color: #332f35;*/
    float: right;
    border-top: solid 2px #3686BE;
  }

  .radio-group {
    border: solid 3px lighten(#332f35, 20%);
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    float: right;
  }

  .question-group {
    position: absolute;
    float: left;
  }
</style>

<form action="POST">

  <div class="row_content123" id="1">
    <div class="question-group">
      <p>1. Napíšte obvyklý čas, kedy chodí Vaše dieťa večer spať:</p>
    </div>
    <div class="radio-group">
      <label for="q-1-option-1">Cez týždeň: </label>
      <input type="text" id="q-1-option-1" name="answer-1-1" placeholder="napr.: 21:00">
      <label for="q-1-option-1">Cez víkend: </label>
      <input type="text" id="q-1-option-1" name="answer-1-2" placeholder="napr.: 21:00">
    </div>
  </div>

  <div class="row_content123" id="1">
    <div class="question-group">
      <p>dshgbfgjdsbkjfvbdslkkbf,jdshvljcfv sdlhfvgdszljjvgblidfkjvds kgvc jhmfse vs kug vaersdsk fvdsm</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-1-option-1" name="answer-1" value="nikdy">
      <label for="q-1-option-1">NIKDY</label>
      <input type="radio" id="q-1-option-2" name="answer-1" value="zriedka">
      <label for="q-1-option-2">ZRIEDKA</label>
      <input type="radio" id="q-1-option-3" name="answer-1" value="niekedy">
      <label for="q-1-option-3">NIEKEDY</label>
      <input type="radio" id="q-1-option-4" name="answer-1" value="casto">
      <label for="q-1-option-4">ČASTO</label>
      <input type="radio" id="q-1-option-5" name="answer-1" value="vzdy">
      <label for="q-1-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content123" id="2">
    <div class="question-group">
      <p>dshgbfgjdsbkjfvbdslkkbf,jdshvljcfv sdlhfvgdszljjvgblidfkjvds kgvc jhmfse vs kug vaersdsk fvdsm</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-2-option-1" name="answer-2" value="nikdy">
      <label for="q-2-option-1">NIKDY</label> 
      <input type="radio" id="q-2-option-2" name="answer-2" value="zriedka">
      <label for="q-2-option-2">ZRIEDKA</label> 
      <input type="radio" id="q-2-option-3" name="answer-2" value="niekedy">
      <label for="q-2-option-3">NIEKEDY</label> 
      <input type="radio" id="q-2-option-4" name="answer-2" value="casto">
      <label for="q-2-option-4">ČASTO</label> 
      <input type="radio" id="q-2-option-5" name="answer-2" value="vzdy">
      <label for="q-2-option-5">VŽDY</label> 
    </div>
  </div>

  <div class="row_content123" id="3">
    <div class="question-group">
      {{!-- Question --}}
      <p>dshgbfgjdsbkjfvbdslkkbf,jdshvljcfv sdlhfvgdszljjvgblidfkjvds kgvc jhmfse vs kug vaersdsk fvdsm</p>
    </div>
    {{!-- Options/Answer --}}
    <div class="radio-group">
      <input type="radio" id="option-1" name="selector">
      <label for="option-1">NIKDY</label>
      <input type="radio" id="option-2" name="selector">
      <label for="option-2">ZRIEDKA</label>
      <input type="radio" id="option-3" name="selector">
      <label for="option-3">NIEKEDY</label>
      <input type="radio" id="option-4" name="selector">
      <label for="option-4">ČASTO</label>
      <input type="radio" id="option-5" name="selector">
      <label for="option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content123" id="4">
    <div class="question-group">
      {{!-- Question --}}
      <p>dshgbfgjdsbkjfvbdslkkbf,jdshvljcfv sdlhfvgdszljjvgblidfkjvds kgvc jhmfse vs kug vaersdsk fvdsm</p>
    </div>
    {{!-- Options/Answer --}}
    <div class="radio-group">
      <input type="radio" id="option-1" name="selector">
      <label for="option-1">NIKDY</label>
      <input type="radio" id="option-2" name="selector">
      <label for="option-2">ZRIEDKA</label>
      <input type="radio" id="option-3" name="selector">
      <label for="option-3">NIEKEDY</label>
      <input type="radio" id="option-4" name="selector">
      <label for="option-4">ČASTO</label>
      <input type="radio" id="option-5" name="selector">
      <label for="option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content123" id="5">
    <div class="question-group">
      {{!-- Question --}}
      <p>dshgbfgjdsbkjfvbdslkkbf,jdshvljcfv sdlhfvgdszljjvgblidfkjvds kgvc jhmfse vs kug vaersdsk fvdsm</p>
    </div>
    {{!-- Options/Answer --}}
    <div class="radio-group">
      <input type="radio" id="option-1" name="selector">
      <label for="option-1">NIKDY</label>
      <input type="radio" id="option-2" name="selector">
      <label for="option-2">ZRIEDKA</label>
      <input type="radio" id="option-3" name="selector">
      <label for="option-3">NIEKEDY</label>
      <input type="radio" id="option-4" name="selector">
      <label for="option-4">ČASTO</label>
      <input type="radio" id="option-5" name="selector">
      <label for="option-5">VŽDY</label>
    </div>
  </div>

  <div>
    <button class="action_button_2" id="reset_button" type="reset">Vymazať</button>
    <button class="action_button_2" id="save_button" type="submit">Uložiť</button>
  </div>

</form>

<script>
  var x, z;
  x = [1, 2, 3, 4, 5, 6];
  for (var y = 0; y < 6; y++) {
    if (x[y] % 2 == 0) {
      z = x[y]; 
      document.getElementById(z).style.backgroundColor = "white";
    } else {
      z = x[y]; 
      document.getElementById(z).style.backgroundColor = "#ACCEE5";
    }
  }
</script>

<div>
  <p>Dotazník vypĺňal:</p>
  <input type="radio" name="parent">
  <label for="">rodič</label>
  <input type="radio" name="parent">
  <label for="">dieťa</label>
</div>

<h2>Čas na spanie</h2>

<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">1. Napíšte obvyklý čas, kedy chodí Vaše dieťa večer spať</label>
    </div>
  </div>
  <div class="row_container">
    <div class="option_btn_container">
      <ul>
        <li>Počas týždňa: </li><input type="text">
        <li>Počas víkendu: </li><input type="time">
      </ul>
    </div>
  </div>
</div>

<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">2. Napíšte obvyklý čas ako rýchlo Vaše dieťa večer zaspí po uložení do postele</label>
    </div>
  </div>
  <div class="row_container">
    <div class="option_btn_container">
      <ul>
        <li>Počas týždňa: </li><input type="time">
        <li>Počas víkendu: </li><input type="time">
      </ul>
    </div>
  </div>
</div>

<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">3. Dieťa chodí večer spať v rovnakú dobu.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>

<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">4. Dieťa chodí do postele neochotne.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">5. Dieťa odmieta chodiť spať v čase určenom na spanie.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">6. Dieťa večer zaspí do 20 minút.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">7. Dieťa zaspí vo vlastnej posteli.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">8. Dieťa zaspí v posteli svojich súrodencov.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">9. Dieťa zaspáva pri hojdaní, kolísaní.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">10. Dieťa mykne/trhne časťou tela počas zaspávania.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">11. Dieťa vykonáva opakujúce sa pohyby telom alebo časťou tela pokiaľ zaspí.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">12. Dieťa má/rozpráva živé predstavy pokiaľ zaspí.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">13. Dieťa sa spotí počas zaspávania.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">14. Dieťa sa bojí zaspať v tme.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">15. Dieťa sa bojí zaspať samo v izbe.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">16. Dieťa potrebuje špeciálnu vec na zaspanie (bábiku, plyšáka,...)</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>

<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">17. Dieťa vyžaduje prítomnosť rodiča pri zaspávaní.</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>