<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>
<div class="question_and_options_container">
  <div class="row_container">
    <div id="question_container">
      <label id="question">Veeeery inportant question</label>
    </div>
  </div>
  <div class="row_container">
    <div id="options_container">
      <div class="option_btn_container">
        <button class="option_btn">Vždy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Často</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Niekedy</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Zriedka</button>
      </div>
      <div class="option_btn_container">
        <button class="option_btn">Nikdy</button>
      </div>
    </div>
  </div>
</div>