<div class="qustionaire_info">
  <h3>Informácie o dotazníku</h3>
  <p>Tento dotazník slúži k objasneniu spánkových porúch a problémov so spánkom u Vášho dieťaťa. Pokúste sa odpovedať na
    všetky otázky. Zamyslite sa nad poslednými 6 mesiacmi života Vášho dieťaťa a následne odpovedzte na otázky.</p>
  <p>Označte <b>NIKDY</b>, ak sa udalosť/situácia <u>nevyskytuje</u>.</p>
  <p>Označte <b>ZRIEDKA</b>, ak sa udalosť/situácia vyskytuje <u>1-2 krát za mesiac</u>.</p>
  <p>Označte <b>NIEKEDY</b>, ak sa udalosť/situácia vyskytuje <u>1-2 krát za týždeň</u>.</p>
  <p>Označte <b>ČASTO</b>, ak sa udalosť/situácia vyskytuje <u>3-5 krát za týždeň</u>.</p>
  <p>Označte <b>VŽDY</b>, ak sa udalosť/situácia <u>denne</u>.</p>
</div>

<form action="/zoznam_pacientov" method="POST">

  <div class="row_content" id="0">
    <div class="question-group">
      <p>Dotazník vypĺňal: </p>
    </div>
    <div class="radio-group">
      <input type="radio" id="creator-1" name="CSQ_creator" value="Doktor">
      <label for="creator-1">Doktor</label>
      <input type="radio" id="creator-2" name="CSQ_creator" value="Rodič">
      <label for="creator-2">Rodič</label>
      <input type="radio" id="creator-3" name="CSQ_creator" value="Dieťa">
      <label for="creator-3">Dieťa</label>
    </div>
  </div>

  <div class="section">
    <h2>Čas na spanie</h2>
  </div>

  <div class="row_content" id="1">
    <div class="question-group">
      <p>1. Napíšte obvyklý čas, kedy chodí pacient večer spať cez týždeň:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-1" name="CSQ_answer_1" placeholder="napr.: 21:00">
    </div>
  </div>

  <div class="row_content" id="2">
    <div class="question-group">
      <p>2. Napíšte obvyklý čas, kedy chodí pacient večer spať cez víkend:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-2" name="CSQ_answer_2" placeholder="napr.: 21:00">
    </div>
  </div>

  <div class="row_content" id="3">
    <div class="question-group">
      <p>3. Napíšte obvyklý čas, ako rýchlo pacient večer zaspí po uložení do postele cez týždeň:</p>
    </div>
    <div class="radio-group">
      <input type="number" id="q-3" name="CSQ_answer_3" placeholder="napr.: 15">
    </div>
  </div>

  <div class="row_content" id="4">
    <div class="question-group">
      <p>4. Napíšte obvyklý čas, ako rýchlo pacient večer zaspí po uložení do postele cez víkend:</p>
    </div>
    <div class="radio-group">
      <input type="number" id="q-4" name="CSQ_answer_4" placeholder="napr.: 15">
    </div>
  </div>

  <div class="row_content" id="5">
    <div class="question-group">
      <p>5. Pacient chodí večer spať v rovnakú dobu.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-5-option-1" name="CSQ_answer_5" value="1">
      <label for="q-5-option-1">NIKDY</label>
      <input type="radio" id="q-5-option-2" name="CSQ_answer_5" value="2">
      <label for="q-5-option-2">ZRIEDKA</label>
      <input type="radio" id="q-5-option-3" name="CSQ_answer_5" value="3">
      <label for="q-5-option-3">NIEKEDY</label>
      <input type="radio" id="q-5-option-4" name="CSQ_answer_5" value="4">
      <label for="q-5-option-4">ČASTO</label>
      <input type="radio" id="q-5-option-5" name="CSQ_answer_5" value="5">
      <label for="q-5-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="6">
    <div class="question-group">
      <p>6. Dieťa chodí do postele neochotne.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-6-option-1" name="CSQ_answer_6" value="1">
      <label for="q-6-option-1">NIKDY</label>
      <input type="radio" id="q-6-option-2" name="CSQ_answer_6" value="2">
      <label for="q-6-option-2">ZRIEDKA</label>
      <input type="radio" id="q-6-option-3" name="CSQ_answer_6" value="3">
      <label for="q-6-option-3">NIEKEDY</label>
      <input type="radio" id="q-6-option-4" name="CSQ_answer_6" value="4">
      <label for="q-6-option-4">ČASTO</label>
      <input type="radio" id="q-6-option-5" name="CSQ_answer_6" value="5">
      <label for="q-6-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="7">
    <div class="question-group">
      <p>7. Dieťa odmieta chodiť spať v čase určenom na spanie.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-7-option-1" name="CSQ_answer_7" value="1">
      <label for="q-7-option-1">NIKDY</label>
      <input type="radio" id="q-7-option-2" name="CSQ_answer_7" value="2">
      <label for="q-7-option-2">ZRIEDKA</label>
      <input type="radio" id="q-7-option-3" name="CSQ_answer_7" value="3">
      <label for="q-7-option-3">NIEKEDY</label>
      <input type="radio" id="q-7-option-4" name="CSQ_answer_7" value="4">
      <label for="q-7-option-4">ČASTO</label>
      <input type="radio" id="q-7-option-5" name="CSQ_answer_7" value="5">
      <label for="q-7-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="8">
    <div class="question-group">
      <p>8. Dieťa večer zaspí do 20 minút.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-8-option-1" name="CSQ_answer_8" value="1">
      <label for="q-8-option-1">NIKDY</label>
      <input type="radio" id="q-8-option-2" name="CSQ_answer_8" value="2">
      <label for="q-8-option-2">ZRIEDKA</label>
      <input type="radio" id="q-8-option-3" name="CSQ_answer_8" value="3">
      <label for="q-8-option-3">NIEKEDY</label>
      <input type="radio" id="q-8-option-4" name="CSQ_answer_8" value="4">
      <label for="q-8-option-4">ČASTO</label>
      <input type="radio" id="q-8-option-5" name="CSQ_answer_8" value="5">
      <label for="q-8-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="9">
    <div class="question-group">
      <p>9. Dieťa zaspí vo vlastnej posteli.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-9-option-1" name="CSQ_answer_9" value="1">
      <label for="q-9-option-1">NIKDY</label>
      <input type="radio" id="q-9-option-2" name="CSQ_answer_9" value="2">
      <label for="q-9-option-2">ZRIEDKA</label>
      <input type="radio" id="q-9-option-3" name="CSQ_answer_9" value="3">
      <label for="q-9-option-3">NIEKEDY</label>
      <input type="radio" id="q-9-option-4" name="CSQ_answer_9" value="4">
      <label for="q-9-option-4">ČASTO</label>
      <input type="radio" id="q-9-option-5" name="CSQ_answer_9" value="5">
      <label for="q-9-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="10">
    <div class="question-group">
      <p>10. Dieťa zaspí v posteli svojich súrodencov.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-10-option-1" name="CSQ_answer_10" value="1">
      <label for="q-10-option-1">NIKDY</label>
      <input type="radio" id="q-10-option-2" name="CSQ_answer_10" value="2">
      <label for="q-10-option-2">ZRIEDKA</label>
      <input type="radio" id="q-10-option-3" name="CSQ_answer_10" value="3">
      <label for="q-10-option-3">NIEKEDY</label>
      <input type="radio" id="q-10-option-4" name="CSQ_answer_10" value="4">
      <label for="q-10-option-4">ČASTO</label>
      <input type="radio" id="q-10-option-5" name="CSQ_answer_10" value="5">
      <label for="q-10-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="11">
    <div class="question-group">
      <p>11. Dieťa zaspáva pri hojdaní, kolísaní.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-11-option-1" name="CSQ_answer_11" value="1">
      <label for="q-11-option-1">NIKDY</label>
      <input type="radio" id="q-11-option-2" name="CSQ_answer_11" value="2">
      <label for="q-11-option-2">ZRIEDKA</label>
      <input type="radio" id="q-11-option-3" name="CSQ_answer_11" value="3">
      <label for="q-11-option-3">NIEKEDY</label>
      <input type="radio" id="q-11-option-4" name="CSQ_answer_11" value="4">
      <label for="q-11-option-4">ČASTO</label>
      <input type="radio" id="q-11-option-5" name="CSQ_answer_11" value="5">
      <label for="q-11-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="12">
    <div class="question-group">
      <p>12. Dieťa mykne/trhne časťou tela počas zaspávania.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-12-option-1" name="CSQ_answer_12" value="1">
      <label for="q-12-option-1">NIKDY</label>
      <input type="radio" id="q-12-option-2" name="CSQ_answer_12" value="2">
      <label for="q-12-option-2">ZRIEDKA</label>
      <input type="radio" id="q-12-option-3" name="CSQ_answer_12" value="3">
      <label for="q-12-option-3">NIEKEDY</label>
      <input type="radio" id="q-12-option-4" name="CSQ_answer_12" value="4">
      <label for="q-12-option-4">ČASTO</label>
      <input type="radio" id="q-12-option-5" name="CSQ_answer_12" value="5">
      <label for="q-12-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="13">
    <div class="question-group">
      <p>13. Dieťa vykonáva opakujúce sa pohyby telom alebo časťou tela pokiaľ zaspí.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-13-option-1" name="CSQ_answer_13" value="1">
      <label for="q-13-option-1">NIKDY</label>
      <input type="radio" id="q-13-option-2" name="CSQ_answer_13" value="2">
      <label for="q-13-option-2">ZRIEDKA</label>
      <input type="radio" id="q-13-option-3" name="CSQ_answer_13" value="3">
      <label for="q-13-option-3">NIEKEDY</label>
      <input type="radio" id="q-13-option-4" name="CSQ_answer_13" value="4">
      <label for="q-13-option-4">ČASTO</label>
      <input type="radio" id="q-13-option-5" name="CSQ_answer_13" value="5">
      <label for="q-13-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="14">
    <div class="question-group">
      <p>14. Dieťa má/rozpráva živé predstavy pokiaľ zaspí.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-14-option-1" name="CSQ_answer_14" value="1">
      <label for="q-14-option-1">NIKDY</label>
      <input type="radio" id="q-14-option-2" name="CSQ_answer_14" value="2">
      <label for="q-14-option-2">ZRIEDKA</label>
      <input type="radio" id="q-14-option-3" name="CSQ_answer_14" value="3">
      <label for="q-14-option-3">NIEKEDY</label>
      <input type="radio" id="q-14-option-4" name="CSQ_answer_14" value="4">
      <label for="q-14-option-4">ČASTO</label>
      <input type="radio" id="q-14-option-5" name="CSQ_answer_14" value="5">
      <label for="q-14-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="15">
    <div class="question-group">
      <p>15. Dieťa sa spotí počas zaspávania.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-15-option-1" name="CSQ_answer_15" value="1">
      <label for="q-15-option-1">NIKDY</label>
      <input type="radio" id="q-15-option-2" name="CSQ_answer_15" value="2">
      <label for="q-15-option-2">ZRIEDKA</label>
      <input type="radio" id="q-15-option-3" name="CSQ_answer_15" value="3">
      <label for="q-15-option-3">NIEKEDY</label>
      <input type="radio" id="q-15-option-4" name="CSQ_answer_15" value="4">
      <label for="q-15-option-4">ČASTO</label>
      <input type="radio" id="q-15-option-5" name="CSQ_answer_15" value="5">
      <label for="q-15-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="16">
    <div class="question-group">
      <p>16. Dieťa sa bojí zaspať v tme.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-16-option-1" name="CSQ_answer_16" value="1">
      <label for="q-16-option-1">NIKDY</label>
      <input type="radio" id="q-16-option-2" name="CSQ_answer_16" value="2">
      <label for="q-16-option-2">ZRIEDKA</label>
      <input type="radio" id="q-16-option-3" name="CSQ_answer_16" value="3">
      <label for="q-16-option-3">NIEKEDY</label>
      <input type="radio" id="q-16-option-4" name="CSQ_answer_16" value="4">
      <label for="q-16-option-4">ČASTO</label>
      <input type="radio" id="q-16-option-5" name="CSQ_answer_16" value="5">
      <label for="q-16-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="17">
    <div class="question-group">
      <p>17. Dieťa sa bojí zaspať samo v izbe.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-17-option-1" name="CSQ_answer_17" value="1">
      <label for="q-17-option-1">NIKDY</label>
      <input type="radio" id="q-17-option-2" name="CSQ_answer_17" value="2">
      <label for="q-17-option-2">ZRIEDKA</label>
      <input type="radio" id="q-17-option-3" name="CSQ_answer_17" value="3">
      <label for="q-17-option-3">NIEKEDY</label>
      <input type="radio" id="q-17-option-4" name="CSQ_answer_17" value="4">
      <label for="q-17-option-4">ČASTO</label>
      <input type="radio" id="q-17-option-5" name="CSQ_answer_17" value="5">
      <label for="q-17-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="18">
    <div class="question-group">
      <p>18. Dieťa potrebuje špeciálnu vec na zaspanie (bábiku,...).</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-18-option-1" name="CSQ_answer_18" value="1">
      <label for="q-18-option-1">NIKDY</label>
      <input type="radio" id="q-18-option-2" name="CSQ_answer_18" value="2">
      <label for="q-18-option-2">ZRIEDKA</label>
      <input type="radio" id="q-18-option-3" name="CSQ_answer_18" value="3">
      <label for="q-18-option-3">NIEKEDY</label>
      <input type="radio" id="q-18-option-4" name="CSQ_answer_18" value="4">
      <label for="q-18-option-4">ČASTO</label>
      <input type="radio" id="q-18-option-5" name="CSQ_answer_18" value="5">
      <label for="q-18-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="19">
    <div class="question-group">
      <p>19. Dieťa vyžaduje prítomnosť rodiča pri zaspávaní.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-19-option-1" name="CSQ_answer_19" value="1">
      <label for="q-19-option-1">NIKDY</label>
      <input type="radio" id="q-19-option-2" name="CSQ_answer_19" value="2">
      <label for="q-19-option-2">ZRIEDKA</label>
      <input type="radio" id="q-19-option-3" name="CSQ_answer_19" value="3">
      <label for="q-19-option-3">NIEKEDY</label>
      <input type="radio" id="q-19-option-4" name="CSQ_answer_19" value="4">
      <label for="q-19-option-4">ČASTO</label>
      <input type="radio" id="q-19-option-5" name="CSQ_answer_19" value="5">
      <label for="q-19-option-5">VŽDY</label>
    </div>
  </div>

  <div class="section">
    <h2>Spánok</h2>
  </div>

  <div class="row_content" id="20">
    <div class="question-group">
      <p>1. Napíšte, koľko Vaše dieťa obvykle spí počas noci cez týždeň:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-20" name="CSQ_answer_20" placeholder="napr.: 8">
    </div>
  </div>

  <div class="row_content" id="21">
    <div class="question-group">
      <p>2. Napíšte, koľko Vaše dieťa obvykle spí počas noci cez víkend:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-21" name="CSQ_answer_21" placeholder="napr.: 8">
    </div>
  </div>

  <div class="row_content" id="22">
    <div class="question-group">
      <p>3. Dieťa spí primerane.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-22-option-1" name="CSQ_answer_22" value="1">
      <label for="q-22-option-1">NIKDY</label>
      <input type="radio" id="q-22-option-2" name="CSQ_answer_22" value="2">
      <label for="q-22-option-2">ZRIEDKA</label>
      <input type="radio" id="q-22-option-3" name="CSQ_answer_22" value="3">
      <label for="q-22-option-3">NIEKEDY</label>
      <input type="radio" id="q-22-option-4" name="CSQ_answer_22" value="4">
      <label for="q-22-option-4">ČASTO</label>
      <input type="radio" id="q-22-option-5" name="CSQ_answer_22" value="5">
      <label for="q-22-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="23">
    <div class="question-group">
      <p>4. Dieťa spí málo.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-23-option-1" name="CSQ_answer_23" value="1">
      <label for="q-23-option-1">NIKDY</label>
      <input type="radio" id="q-23-option-2" name="CSQ_answer_23" value="2">
      <label for="q-23-option-2">ZRIEDKA</label>
      <input type="radio" id="q-23-option-3" name="CSQ_answer_23" value="3">
      <label for="q-23-option-3">NIEKEDY</label>
      <input type="radio" id="q-23-option-4" name="CSQ_answer_23" value="4">
      <label for="q-23-option-4">ČASTO</label>
      <input type="radio" id="q-23-option-5" name="CSQ_answer_23" value="5">
      <label for="q-23-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="24">
    <div class="question-group">
      <p>5. Dieťa spí veľa.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-24-option-1" name="CSQ_answer_24" value="1">
      <label for="q-24-option-1">NIKDY</label>
      <input type="radio" id="q-24-option-2" name="CSQ_answer_24" value="2">
      <label for="q-24-option-2">ZRIEDKA</label>
      <input type="radio" id="q-24-option-3" name="CSQ_answer_24" value="3">
      <label for="q-24-option-3">NIEKEDY</label>
      <input type="radio" id="q-24-option-4" name="CSQ_answer_24" value="4">
      <label for="q-24-option-4">ČASTO</label>
      <input type="radio" id="q-24-option-5" name="CSQ_answer_24" value="5">
      <label for="q-24-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="25">
    <div class="question-group">
      <p>6. Dieťa sa v noci pomočuje.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-25-option-1" name="CSQ_answer_25" value="1">
      <label for="q-25-option-1">NIKDY</label>
      <input type="radio" id="q-25-option-2" name="CSQ_answer_25" value="2">
      <label for="q-25-option-2">ZRIEDKA</label>
      <input type="radio" id="q-25-option-3" name="CSQ_answer_25" value="3">
      <label for="q-25-option-3">NIEKEDY</label>
      <input type="radio" id="q-25-option-4" name="CSQ_answer_25" value="4">
      <label for="q-25-option-4">ČASTO</label>
      <input type="radio" id="q-25-option-5" name="CSQ_answer_25" value="5">
      <label for="q-25-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="26">
    <div class="question-group">
      <p>7. Dieťa sa pomočuje počas dňa.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-26-option-1" name="CSQ_answer_26" value="1">
      <label for="q-26-option-1">NIKDY</label>
      <input type="radio" id="q-26-option-2" name="CSQ_answer_26" value="2">
      <label for="q-26-option-2">ZRIEDKA</label>
      <input type="radio" id="q-26-option-3" name="CSQ_answer_26" value="3">
      <label for="q-26-option-3">NIEKEDY</label>
      <input type="radio" id="q-26-option-4" name="CSQ_answer_26" value="4">
      <label for="q-26-option-4">ČASTO</label>
      <input type="radio" id="q-26-option-5" name="CSQ_answer_26" value="5">
      <label for="q-26-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="27">
    <div class="question-group">
      <p>8. Dieťa hovorí zo sna.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-27-option-1" name="CSQ_answer_27" value="1">
      <label for="q-27-option-1">NIKDY</label>
      <input type="radio" id="q-27-option-2" name="CSQ_answer_27" value="2">
      <label for="q-27-option-2">ZRIEDKA</label>
      <input type="radio" id="q-27-option-3" name="CSQ_answer_27" value="3">
      <label for="q-27-option-3">NIEKEDY</label>
      <input type="radio" id="q-27-option-4" name="CSQ_answer_27" value="4">
      <label for="q-27-option-4">ČASTO</label>
      <input type="radio" id="q-27-option-5" name="CSQ_answer_27" value="5">
      <label for="q-27-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="28">
    <div class="question-group">
      <p>9. Dieťa je počas spánku nepokojné, pohybuje končatinami, odkopáva perinu alebo často mení polohu.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-28-option-1" name="CSQ_answer_28" value="1">
      <label for="q-28-option-1">NIKDY</label>
      <input type="radio" id="q-28-option-2" name="CSQ_answer_28" value="2">
      <label for="q-28-option-2">ZRIEDKA</label>
      <input type="radio" id="q-28-option-3" name="CSQ_answer_28" value="3">
      <label for="q-28-option-3">NIEKEDY</label>
      <input type="radio" id="q-28-option-4" name="CSQ_answer_28" value="4">
      <label for="q-28-option-4">ČASTO</label>
      <input type="radio" id="q-28-option-5" name="CSQ_answer_28" value="5">
      <label for="q-28-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="29">
    <div class="question-group">
      <p>10. Dieťa chodí počas noci (je námesačné).</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-29-option-1" name="CSQ_answer_29" value="1">
      <label for="q-29-option-1">NIKDY</label>
      <input type="radio" id="q-29-option-2" name="CSQ_answer_29" value="2">
      <label for="q-29-option-2">ZRIEDKA</label>
      <input type="radio" id="q-29-option-3" name="CSQ_answer_29" value="3">
      <label for="q-29-option-3">NIEKEDY</label>
      <input type="radio" id="q-29-option-4" name="CSQ_answer_29" value="4">
      <label for="q-29-option-4">ČASTO</label>
      <input type="radio" id="q-29-option-5" name="CSQ_answer_29" value="5">
      <label for="q-29-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="30">
    <div class="question-group">
      <p>11. Dieťa sa zobudí so spánku na bolesť.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-30-option-1" name="CSQ_answer_30" value="1">
      <label for="q-30-option-1">NIKDY</label>
      <input type="radio" id="q-30-option-2" name="CSQ_answer_30" value="2">
      <label for="q-30-option-2">ZRIEDKA</label>
      <input type="radio" id="q-30-option-3" name="CSQ_answer_30" value="3">
      <label for="q-30-option-3">NIEKEDY</label>
      <input type="radio" id="q-30-option-4" name="CSQ_answer_30" value="4">
      <label for="q-30-option-4">ČASTO</label>
      <input type="radio" id="q-30-option-5" name="CSQ_answer_30" value="5">
      <label for="q-30-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="31">
    <div class="question-group">
      <p>12. Dieťa škrípe zubami počas spánku.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-31-option-1" name="CSQ_answer_31" value="1">
      <label for="q-31-option-1">NIKDY</label>
      <input type="radio" id="q-31-option-2" name="CSQ_answer_31" value="2">
      <label for="q-31-option-2">ZRIEDKA</label>
      <input type="radio" id="q-31-option-3" name="CSQ_answer_31" value="3">
      <label for="q-31-option-3">NIEKEDY</label>
      <input type="radio" id="q-31-option-4" name="CSQ_answer_31" value="4">
      <label for="q-31-option-4">ČASTO</label>
      <input type="radio" id="q-31-option-5" name="CSQ_answer_31" value="5">
      <label for="q-31-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="32">
    <div class="question-group">
      <p>13. Dieťa nahlas chrápe počas spánku.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-32-option-1" name="CSQ_answer_32" value="1">
      <label for="q-32-option-1">NIKDY</label>
      <input type="radio" id="q-32-option-2" name="CSQ_answer_32" value="2">
      <label for="q-32-option-2">ZRIEDKA</label>
      <input type="radio" id="q-32-option-3" name="CSQ_answer_32" value="3">
      <label for="q-32-option-3">NIEKEDY</label>
      <input type="radio" id="q-32-option-4" name="CSQ_answer_32" value="4">
      <label for="q-32-option-4">ČASTO</label>
      <input type="radio" id="q-32-option-5" name="CSQ_answer_32" value="5">
      <label for="q-32-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="33">
    <div class="question-group">
      <p>14. Dieťa prestane na chvíľu dýchať počas spánku.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-33-option-1" name="CSQ_answer_33" value="1">
      <label for="q-33-option-1">NIKDY</label>
      <input type="radio" id="q-33-option-2" name="CSQ_answer_33" value="2">
      <label for="q-33-option-2">ZRIEDKA</label>
      <input type="radio" id="q-33-option-3" name="CSQ_answer_33" value="3">
      <label for="q-33-option-3">NIEKEDY</label>
      <input type="radio" id="q-33-option-4" name="CSQ_answer_33" value="4">
      <label for="q-33-option-4">ČASTO</label>
      <input type="radio" id="q-33-option-5" name="CSQ_answer_33" value="5">
      <label for="q-33-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="34">
    <div class="question-group">
      <p>15. Dieťa ťažko dýcha počas spánku.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-34-option-1" name="CSQ_answer_34" value="1">
      <label for="q-34-option-1">NIKDY</label>
      <input type="radio" id="q-34-option-2" name="CSQ_answer_34" value="2">
      <label for="q-34-option-2">ZRIEDKA</label>
      <input type="radio" id="q-34-option-3" name="CSQ_answer_34" value="3">
      <label for="q-34-option-3">NIEKEDY</label>
      <input type="radio" id="q-34-option-4" name="CSQ_answer_34" value="4">
      <label for="q-34-option-4">ČASTO</label>
      <input type="radio" id="q-34-option-5" name="CSQ_answer_34" value="5">
      <label for="q-34-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="35">
    <div class="question-group">
      <p>16. Dieťa sa výraznejšie potí počas spánku.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-35-option-1" name="CSQ_answer_35" value="1">
      <label for="q-35-option-1">NIKDY</label>
      <input type="radio" id="q-35-option-2" name="CSQ_answer_35" value="2">
      <label for="q-35-option-2">ZRIEDKA</label>
      <input type="radio" id="q-35-option-3" name="CSQ_answer_35" value="3">
      <label for="q-35-option-3">NIEKEDY</label>
      <input type="radio" id="q-35-option-4" name="CSQ_answer_35" value="4">
      <label for="q-35-option-4">ČASTO</label>
      <input type="radio" id="q-35-option-5" name="CSQ_answer_35" value="5">
      <label for="q-35-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="36">
    <div class="question-group">
      <p>17. Dieťa má problémy so spánkom mimo domova.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-36-option-1" name="CSQ_answer_36" value="1">
      <label for="q-36-option-1">NIKDY</label>
      <input type="radio" id="q-36-option-2" name="CSQ_answer_36" value="2">
      <label for="q-36-option-2">ZRIEDKA</label>
      <input type="radio" id="q-36-option-3" name="CSQ_answer_36" value="3">
      <label for="q-36-option-3">NIEKEDY</label>
      <input type="radio" id="q-36-option-4" name="CSQ_answer_36" value="4">
      <label for="q-36-option-4">ČASTO</label>
      <input type="radio" id="q-36-option-5" name="CSQ_answer_36" value="5">
      <label for="q-36-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="37">
    <div class="question-group">
      <p>18. Dieťa sa budí počas noci s plačom, krikom alebo zmetené, ťažko sa ho darí utíšiť a na túto nočnú udalosť si
        ráno nepamätá.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-37-option-1" name="CSQ_answer_37" value="1">
      <label for="q-37-option-1">NIKDY</label>
      <input type="radio" id="q-37-option-2" name="CSQ_answer_37" value="2">
      <label for="q-37-option-2">ZRIEDKA</label>
      <input type="radio" id="q-37-option-3" name="CSQ_answer_37" value="3">
      <label for="q-37-option-3">NIEKEDY</label>
      <input type="radio" id="q-37-option-4" name="CSQ_answer_37" value="4">
      <label for="q-37-option-4">ČASTO</label>
      <input type="radio" id="q-37-option-5" name="CSQ_answer_37" value="5">
      <label for="q-37-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="38">
    <div class="question-group">
      <p>19. Dieťa máva nočné mory, na ktoré si ráno nepamätá.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-38-option-1" name="CSQ_answer_38" value="1">
      <label for="q-38-option-1">NIKDY</label>
      <input type="radio" id="q-38-option-2" name="CSQ_answer_38" value="2">
      <label for="q-38-option-2">ZRIEDKA</label>
      <input type="radio" id="q-38-option-3" name="CSQ_answer_38" value="3">
      <label for="q-38-option-3">NIEKEDY</label>
      <input type="radio" id="q-38-option-4" name="CSQ_answer_38" value="4">
      <label for="q-38-option-4">ČASTO</label>
      <input type="radio" id="q-38-option-5" name="CSQ_answer_38" value="5">
      <label for="q-38-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="39">
    <div class="question-group">
      <p>20. Dieťa sa zobudí 1 krát počas noci.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-39-option-1" name="CSQ_answer_39" value="1">
      <label for="q-39-option-1">NIKDY</label>
      <input type="radio" id="q-39-option-2" name="CSQ_answer_39" value="2">
      <label for="q-39-option-2">ZRIEDKA</label>
      <input type="radio" id="q-39-option-3" name="CSQ_answer_39" value="3">
      <label for="q-39-option-3">NIEKEDY</label>
      <input type="radio" id="q-39-option-4" name="CSQ_answer_39" value="4">
      <label for="q-39-option-4">ČASTO</label>
      <input type="radio" id="q-39-option-5" name="CSQ_answer_39" value="5">
      <label for="q-39-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="40">
    <div class="question-group">
      <p>21. Dieťa sa budí 2 a viac krát počas noci.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-40-option-1" name="CSQ_answer_40" value="1">
      <label for="q-40-option-1">NIKDY</label>
      <input type="radio" id="q-40-option-2" name="CSQ_answer_40" value="2">
      <label for="q-40-option-2">ZRIEDKA</label>
      <input type="radio" id="q-40-option-3" name="CSQ_answer_40" value="3">
      <label for="q-40-option-3">NIEKEDY</label>
      <input type="radio" id="q-40-option-4" name="CSQ_answer_40" value="4">
      <label for="q-40-option-4">ČASTO</label>
      <input type="radio" id="q-40-option-5" name="CSQ_answer_40" value="5">
      <label for="q-40-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="41">
    <div class="question-group">
      <p>22. Dieťa po prebudení počas noci má problém znova zaspať.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-41-option-1" name="CSQ_answer_41" value="1">
      <label for="q-41-option-1">NIKDY</label>
      <input type="radio" id="q-41-option-2" name="CSQ_answer_41" value="2">
      <label for="q-41-option-2">ZRIEDKA</label>
      <input type="radio" id="q-41-option-3" name="CSQ_answer_41" value="3">
      <label for="q-41-option-3">NIEKEDY</label>
      <input type="radio" id="q-41-option-4" name="CSQ_answer_41" value="4">
      <label for="q-41-option-4">ČASTO</label>
      <input type="radio" id="q-41-option-5" name="CSQ_answer_41" value="5">
      <label for="q-41-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="42">
    <div class="question-group">
      <p>23. Napíšte, koľko minút obvykle trvá prebudenie dieťaťa počas noci:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-42" name="CSQ_answer_42" placeholder="napr.: 20">
    </div>
  </div>

  <div class="section">
    <h2>Ranné vstávanie</h2>
  </div>

  <div class="row_content" id="43">
    <div class="question-group">
      <p>1. Napíšte obvyklý čas vstávania Vášho dieťaťa počas týždňa:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-43" name="CSQ_answer_43" placeholder="napr.: 7:00">
    </div>
  </div>

  <div class="row_content" id="44">
    <div class="question-group">
      <p>2. Napíšte obvyklý čas vstávania Vášho dieťaťa počas víkendu:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-44" name="CSQ_answer_44" placeholder="napr.: 7:00">
    </div>
  </div>

  <div class="row_content" id="45">
    <div class="question-group">
      <p>3. Dieťa sa zobudí ráno samé.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-45-option-1" name="CSQ_answer_45" value="1">
      <label for="q-45-option-1">NIKDY</label>
      <input type="radio" id="q-45-option-2" name="CSQ_answer_45" value="2">
      <label for="q-45-option-2">ZRIEDKA</label>
      <input type="radio" id="q-45-option-3" name="CSQ_answer_45" value="3">
      <label for="q-45-option-3">NIEKEDY</label>
      <input type="radio" id="q-45-option-4" name="CSQ_answer_45" value="4">
      <label for="q-45-option-4">ČASTO</label>
      <input type="radio" id="q-45-option-5" name="CSQ_answer_45" value="5">
      <label for="q-45-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="46">
    <div class="question-group">
      <p>4. Dieťa sa zobudí ráno pomocou budíka.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-46-option-1" name="CSQ_answer_46" value="1">
      <label for="q-46-option-1">NIKDY</label>
      <input type="radio" id="q-46-option-2" name="CSQ_answer_46" value="2">
      <label for="q-46-option-2">ZRIEDKA</label>
      <input type="radio" id="q-46-option-3" name="CSQ_answer_46" value="3">
      <label for="q-46-option-3">NIEKEDY</label>
      <input type="radio" id="q-46-option-4" name="CSQ_answer_46" value="4">
      <label for="q-46-option-4">ČASTO</label>
      <input type="radio" id="q-46-option-5" name="CSQ_answer_46" value="5">
      <label for="q-46-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="47">
    <div class="question-group">
      <p>5. Dieťa vstáva so zlou náladou.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-47-option-1" name="CSQ_answer_47" value="1">
      <label for="q-47-option-1">NIKDY</label>
      <input type="radio" id="q-47-option-2" name="CSQ_answer_47" value="2">
      <label for="q-47-option-2">ZRIEDKA</label>
      <input type="radio" id="q-47-option-3" name="CSQ_answer_47" value="3">
      <label for="q-47-option-3">NIEKEDY</label>
      <input type="radio" id="q-47-option-4" name="CSQ_answer_47" value="4">
      <label for="q-47-option-4">ČASTO</label>
      <input type="radio" id="q-47-option-5" name="CSQ_answer_47" value="5">
      <label for="q-47-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="48">
    <div class="question-group">
      <p>6. Dieťa zobudí ráno súrodenec alebo rodič.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-48-option-1" name="CSQ_answer_48" value="1">
      <label for="q-48-option-1">NIKDY</label>
      <input type="radio" id="q-48-option-2" name="CSQ_answer_48" value="2">
      <label for="q-48-option-2">ZRIEDKA</label>
      <input type="radio" id="q-48-option-3" name="CSQ_answer_48" value="3">
      <label for="q-48-option-3">NIEKEDY</label>
      <input type="radio" id="q-48-option-4" name="CSQ_answer_48" value="4">
      <label for="q-48-option-4">ČASTO</label>
      <input type="radio" id="q-48-option-5" name="CSQ_answer_48" value="5">
      <label for="q-48-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="49">
    <div class="question-group">
      <p>7. Dieťa ráno odmieta vstať / budí sa veľmi ťažko.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-49-option-1" name="CSQ_answer_49" value="1">
      <label for="q-49-option-1">NIKDY</label>
      <input type="radio" id="q-49-option-2" name="CSQ_answer_49" value="2">
      <label for="q-49-option-2">ZRIEDKA</label>
      <input type="radio" id="q-49-option-3" name="CSQ_answer_49" value="3">
      <label for="q-49-option-3">NIEKEDY</label>
      <input type="radio" id="q-49-option-4" name="CSQ_answer_49" value="4">
      <label for="q-49-option-4">ČASTO</label>
      <input type="radio" id="q-49-option-5" name="CSQ_answer_49" value="5">
      <label for="q-49-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="50">
    <div class="question-group">
      <p>8. Dieťa vstáva ráno veľmi skoro.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-50-option-1" name="CSQ_answer_50" value="1">
      <label for="q-50-option-1">NIKDY</label>
      <input type="radio" id="q-50-option-2" name="CSQ_answer_50" value="2">
      <label for="q-50-option-2">ZRIEDKA</label>
      <input type="radio" id="q-50-option-3" name="CSQ_answer_50" value="3">
      <label for="q-50-option-3">NIEKEDY</label>
      <input type="radio" id="q-50-option-4" name="CSQ_answer_50" value="4">
      <label for="q-50-option-4">ČASTO</label>
      <input type="radio" id="q-50-option-5" name="CSQ_answer_50" value="5">
      <label for="q-50-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="51">
    <div class="question-group">
      <p>9. Dieťa je ráno hladné a chutí mu.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-51-option-1" name="CSQ_answer_51" value="1">
      <label for="q-51-option-1">NIKDY</label>
      <input type="radio" id="q-51-option-2" name="CSQ_answer_51" value="2">
      <label for="q-51-option-2">ZRIEDKA</label>
      <input type="radio" id="q-51-option-3" name="CSQ_answer_51" value="3">
      <label for="q-51-option-3">NIEKEDY</label>
      <input type="radio" id="q-51-option-4" name="CSQ_answer_51" value="4">
      <label for="q-51-option-4">ČASTO</label>
      <input type="radio" id="q-51-option-5" name="CSQ_answer_51" value="5">
      <label for="q-51-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="52">
    <div class="question-group">
      <p>10. Dieťa sa zobudí ráno unavené.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-52-option-1" name="CSQ_answer_52" value="1">
      <label for="q-52-option-1">NIKDY</label>
      <input type="radio" id="q-52-option-2" name="CSQ_answer_52" value="2">
      <label for="q-52-option-2">ZRIEDKA</label>
      <input type="radio" id="q-52-option-3" name="CSQ_answer_52" value="3">
      <label for="q-52-option-3">NIEKEDY</label>
      <input type="radio" id="q-52-option-4" name="CSQ_answer_52" value="4">
      <label for="q-52-option-4">ČASTO</label>
      <input type="radio" id="q-52-option-5" name="CSQ_answer_52" value="5">
      <label for="q-52-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="53">
    <div class="question-group">
      <p>11. Dieťa sa ráno cíti stuhnuté/neschopné sa hýbať.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-53-option-1" name="CSQ_answer_53" value="1">
      <label for="q-53-option-1">NIKDY</label>
      <input type="radio" id="q-53-option-2" name="CSQ_answer_53" value="2">
      <label for="q-53-option-2">ZRIEDKA</label>
      <input type="radio" id="q-53-option-3" name="CSQ_answer_53" value="3">
      <label for="q-53-option-3">NIEKEDY</label>
      <input type="radio" id="q-53-option-4" name="CSQ_answer_53" value="4">
      <label for="q-53-option-4">ČASTO</label>
      <input type="radio" id="q-53-option-5" name="CSQ_answer_53" value="5">
      <label for="q-53-option-5">VŽDY</label>
    </div>
  </div>

  <div class="section">
    <h2>Spánok počas dňa</h2>
  </div>

  <div class="row_content" id="54">
    <div class="question-group">
      <p>1. Dieťa zaspáva počas dňa.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-54-option-1" name="CSQ_answer_54" value="1">
      <label for="q-54-option-1">NIKDY</label>
      <input type="radio" id="q-54-option-2" name="CSQ_answer_54" value="2">
      <label for="q-54-option-2">ZRIEDKA</label>
      <input type="radio" id="q-54-option-3" name="CSQ_answer_54" value="3">
      <label for="q-54-option-3">NIEKEDY</label>
      <input type="radio" id="q-54-option-4" name="CSQ_answer_54" value="4">
      <label for="q-54-option-4">ČASTO</label>
      <input type="radio" id="q-54-option-5" name="CSQ_answer_54" value="5">
      <label for="q-54-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="55">
    <div class="question-group">
      <p>2. Dieťa zrazu zaspí počas nejakej činnosti (napr. hra).</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-55-option-1" name="CSQ_answer_55" value="1">
      <label for="q-55-option-1">NIKDY</label>
      <input type="radio" id="q-55-option-2" name="CSQ_answer_55" value="2">
      <label for="q-55-option-2">ZRIEDKA</label>
      <input type="radio" id="q-55-option-3" name="CSQ_answer_55" value="3">
      <label for="q-55-option-3">NIEKEDY</label>
      <input type="radio" id="q-55-option-4" name="CSQ_answer_55" value="4">
      <label for="q-55-option-4">ČASTO</label>
      <input type="radio" id="q-55-option-5" name="CSQ_answer_55" value="5">
      <label for="q-55-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="56">
    <div class="question-group">
      <p>3. Dieťa vyzerá unavene počas dňa.</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-56-option-1" name="CSQ_answer_56" value="1">
      <label for="q-56-option-1">NIKDY</label>
      <input type="radio" id="q-56-option-2" name="CSQ_answer_56" value="2">
      <label for="q-56-option-2">ZRIEDKA</label>
      <input type="radio" id="q-56-option-3" name="CSQ_answer_56" value="3">
      <label for="q-56-option-3">NIEKEDY</label>
      <input type="radio" id="q-56-option-4" name="CSQ_answer_56" value="4">
      <label for="q-56-option-4">ČASTO</label>
      <input type="radio" id="q-56-option-5" name="CSQ_answer_56" value="5">
      <label for="q-56-option-5">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="57">
    <div class="question-group">
      <p>4. Napíšte, pri akých činnostiach dieťa zaspí, alebo je unavené počas dňa:</p>
    </div>
    <div class="radio-group">
      <input type="text" id="q-57" name="CSQ_answer_57" placeholder="napr.: pri hraní">
    </div>
  </div>

  <div class="form_buttons">
    <p id="bad">Neodpovedali ste na všetky otázky v dotazníku.</p>
  </div>

  <div class="form_buttons">
    <button class="action_button_2" id="reset_button" type="reset">Vymazať</button>
    <button class="action_button_2" id="save_button" type="submit">Uložiť</button>
  </div>

</form>

<script>
  for (var rowNumber = 1; rowNumber <= 57; rowNumber++) {
    if (rowNumber % 2 == 0) {
      document.getElementById(rowNumber).style.backgroundColor = '#FFFFFF';
    } else {
      document.getElementById(rowNumber).style.backgroundColor = '#ACCEE5';
    }
  }

  let error = false;

  $('input').change(function () {
    error = false;
  });

  $.date = function (dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    if (day < 10) {
      day = "0" + day;
    }
    if (month < 10) {
      month = "0" + month;
    }
    var date = day + "." + month + "." + year;

    return date;
  };

  $('#save_button').click(function (e) {
    e.preventDefault();
    checkInputs();
    if (error) {
      document.getElementById('bad').style.display = 'inline';
      return
    }
    let CsqForm = [];
    $('input:checked').each(function () {
      var el = $(this);
      CsqForm.push(el.val());
    });

    number1 = $('#q-3').val();
    number2 = $('#q-3').val();
    //Davame o 2 cisla mensie, lebo dole sa pridaju text inputy na spravne hodnoty
    CsqForm.splice(1, 0, number1);
    CsqForm.splice(2, 0, number2);

    $('input:text').each(function () {
      var id = $(this).attr('id').split('-');
      var el = $(this); // this ukazuje na input
      CsqForm.splice(id[1], 0, el.val());
    });

    CsqForm.push($.date(new Date()));
    console.log(CsqForm);
    $.ajax({
      type: 'POST',
      url: '/vyber_dotaznika/detsky_spankovy_dotaznik?pacient=' + getUrlParameter('pacient'),
      data: JSON.stringify(CsqForm),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data, status) {
        window.location = '/zoznam_pacientov';
      },
      error: function (error) {
        console.log(error);
      }
    })
  });

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };

  function checkInputs() {
    var answer, creator, ans, isChecked = false;
    var textInputAns = [1, 2, 3, 4, 20, 21, 42, 43, 44, 57];
    var radioBtnsAns = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56];

    // Check CREATOR
    for (var i = 0; i <= 2; i++) {
      isChecked = isChecked + document.getElementsByName('CSQ_creator')[i].checked;
    }
    if (isChecked === 0) {
      document.getElementById('0').style.backgroundColor = '#e4938a';
      error = true;
    } else {
      document.getElementById('0').style.backgroundColor = '#2ecc71';
    }

    //Check TEXT INPUTS
    for (ans = 0; ans < textInputAns.length; ans++) {
      answer = document.getElementsByName('CSQ_answer_' + textInputAns[ans])[0].value.trim();
      if (answer === '') {
        document.getElementById(textInputAns[ans]).style.backgroundColor = '#e4938a';
        error = true;
      } else {
        document.getElementById(textInputAns[ans]).style.backgroundColor = '#2ecc71';
      }
    };

    // Check RADIO BTNS
    for (ans = 0; ans < radioBtnsAns.length; ans++) {
      isChecked = false;
      for (var i = 0; i <= 4; i++) {
        isChecked = isChecked + document.getElementsByName('CSQ_answer_' + radioBtnsAns[ans])[i].checked;
      }
      if (isChecked === 0) {
        document.getElementById(radioBtnsAns[ans]).style.backgroundColor = '#e4938a';
        error = true;
      } else {
        document.getElementById(radioBtnsAns[ans]).style.backgroundColor = '#2ecc71';
      }
    }
  };

</script>