<html>

<head>
	<title>Epworth</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body>
	<div>
		<p>Driemete alebo zaspávate v situáciách popísaných nižšie (nejedná sa o pocit únavy)? Tato otázka sa týká Vášho
			bežného života v poslednej dobe. Ak ste nasledujúce situácie nezažil/a, skúste si predstaviť, ako by Vás mohli
			ovplyvniť.</p>
		<p>Vyberte v nasledujúcej škále číslo najvhodnejšej odpovede ku každej nižšie uvedenej situácií:</p>
		<p>
			0 = nikdy by som nedriemal / nezaspal
			<br>1 = slabá pravdepodobnosť driemot / spánku
			<br>2 = stredná pravdepodobnosť driemot / spánku
			<br>3 = značná pravdepodobnosť driemot / spánku
		</p>
	</div>

	<div>

	</div>

</body>

</html>