<div class="qustionaire_info">
  <h3>Informácie o dotazníku</h3>
  <p>Driemete alebo zaspávate v situáciách popísaných nižšie (nejedná sa o pocit únavy)? Tato otázka sa týká Vášho
    bežného života v poslednej dobe. Ak ste nasledujúce situácie nezažil/a, skúste si predstaviť, ako by Vás mohli
    ovplyvniť.</p>
  <p>Vyberte v nasledujúcej škále číslo najvhodnejšej odpovede ku každej nižšie uvedenej situácií:</p>
  <ul>
    <li>NIKDY = nikdy by som nedriemal/nezaspal</li>
    <li>NIEKEDY = slabá pravdepodobnosť driemot/spánku</li>
    <li>ČASTO = stredná pravdepodobnosť driemot/spánku</li>
    <li>VŽDY = značná pravdepodobnosť driemot/spánku</li>
  </ul>
</div>

<form action="/zoznam_pacientov">
  <div class="row_content" id="0">
    <div class="question-group">
      <p>Dotazník vypĺňal:</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="creator-1" name="ESS_creator" value="Doktor">
      <label for="creator-1">Doktor</label>
      <input type="radio" id="creator-2" name="ESS_creator" value="Rodič">
      <label for="creator-2">Rodič</label>
      <input type="radio" id="creator-3" name="ESS_creator" value="Dieťa">
      <label for="creator-3">Dieťa</label>
    </div>
  </div>

  <div class="row_content" id="1">
    <div class="question-group">
      <p>1. Pri čítaní si v sede</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-1-option-1" name="ESS_answer_1" value="0">
      <label for="q-1-option-1">NIKDY</label>
      <input type="radio" id="q-1-option-2" name="ESS_answer_1" value="1">
      <label for="q-1-option-2">NIEKEDY</label>
      <input type="radio" id="q-1-option-3" name="ESS_answer_1" value="2">
      <label for="q-1-option-3">ČASTO</label>
      <input type="radio" id="q-1-option-4" name="ESS_answer_1" value="3">
      <label for="q-1-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="2">
    <div class="question-group">
      <p>2. Pri sledování televízie</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-2-option-1" name="ESS_answer_2" value="0">
      <label for="q-2-option-1">NIKDY</label>
      <input type="radio" id="q-2-option-2" name="ESS_answer_2" value="1">
      <label for="q-2-option-2">NIEKEDY</label>
      <input type="radio" id="q-2-option-3" name="ESS_answer_2" value="2">
      <label for="q-2-option-3">ČASTO</label>
      <input type="radio" id="q-2-option-4" name="ESS_answer_2" value="3">
      <label for="q-2-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="3">
    <div class="question-group">
      <p>3. Pri nečinnom sedení na verejnom mieste (v kine, v triede)</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-3-option-1" name="ESS_answer_3" value="0">
      <label for="q-3-option-1">NIKDY</label>
      <input type="radio" id="q-3-option-2" name="ESS_answer_3" value="1">
      <label for="q-3-option-2">NIEKEDY</label>
      <input type="radio" id="q-3-option-3" name="ESS_answer_3" value="2">
      <label for="q-3-option-3">ČASTO</label>
      <input type="radio" id="q-3-option-4" name="ESS_answer_3" value="3">
      <label for="q-3-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="4">
    <div class="question-group">
      <p>4. Pri hodinovej jazde v aute (bez prestávky) ako spolujazdca</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-4-option-1" name="ESS_answer_4" value="0">
      <label for="q-4-option-1">NIKDY</label>
      <input type="radio" id="q-4-option-2" name="ESS_answer_4" value="1">
      <label for="q-4-option-2">NIEKEDY</label>
      <input type="radio" id="q-4-option-3" name="ESS_answer_4" value="2">
      <label for="q-4-option-3">ČASTO</label>
      <input type="radio" id="q-4-option-4" name="ESS_answer_4" value="3">
      <label for="q-4-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="5">
    <div class="question-group">
      <p>5. Pri ležaní – odpočinku po obede, keď to okolnosti dovoľujú</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-5-option-1" name="ESS_answer_5" value="0">
      <label for="q-5-option-1">NIKDY</label>
      <input type="radio" id="q-5-option-2" name="ESS_answer_5" value="1">
      <label for="q-5-option-2">NIEKEDY</label>
      <input type="radio" id="q-5-option-3" name="ESS_answer_5" value="2">
      <label for="q-5-option-3">ČASTO</label>
      <input type="radio" id="q-5-option-4" name="ESS_answer_5" value="3">
      <label for="q-5-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="6">
    <div class="question-group">
      <p>6. Pri rozhovore v sede</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-6-option-1" name="ESS_answer_6" value="0">
      <label for="q-6-option-1">NIKDY</label>
      <input type="radio" id="q-6-option-2" name="ESS_answer_6" value="1">
      <label for="q-6-option-2">NIEKEDY</label>
      <input type="radio" id="q-6-option-3" name="ESS_answer_6" value="2">
      <label for="q-6-option-3">ČASTO</label>
      <input type="radio" id="q-6-option-4" name="ESS_answer_6" value="3">
      <label for="q-6-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="7">
    <div class="question-group">
      <p>7. V sede, v pokoji, po obede</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-7-option-1" name="ESS_answer_7" value="0">
      <label for="q-7-option-1">NIKDY</label>
      <input type="radio" id="q-7-option-2" name="ESS_answer_7" value="1">
      <label for="q-7-option-2">NIEKEDY</label>
      <input type="radio" id="q-7-option-3" name="ESS_answer_7" value="2">
      <label for="q-7-option-3">ČASTO</label>
      <input type="radio" id="q-7-option-4" name="ESS_answer_7" value="3">
      <label for="q-7-option-4">VŽDY</label>
    </div>
  </div>

  <div class="row_content" id="8">
    <div class="question-group">
      <p>8. Pri robení si domácích úloh alebo pri teste v škole</p>
    </div>
    <div class="radio-group">
      <input type="radio" id="q-8-option-1" name="ESS_answer_8" value="0">
      <label for="q-8-option-1">NIKDY</label>
      <input type="radio" id="q-8-option-2" name="ESS_answer_8" value="1">
      <label for="q-8-option-2">NIEKEDY</label>
      <input type="radio" id="q-8-option-3" name="ESS_answer_8" value="2">
      <label for="q-8-option-3">ČASTO</label>
      <input type="radio" id="q-8-option-4" name="ESS_answer_8" value="3">
      <label for="q-8-option-4">VŽDY</label>
    </div>
  </div>

  <div class="form_buttons">
    <p id="bad">Neodpovedali ste na všetky otázky v dotazníku.</p>
  </div>

  <div class="form_buttons">
    <button class="action_button_2" id="reset_button" type="reset">Vymazať</button>
    <button class="action_button_2" id="save_button" type="submit">Uložiť</button>
  </div>

</form>

<script>
  for (var rowNumber = 1; rowNumber <= 8; rowNumber++) {
    if (rowNumber % 2 === 0) {
      document.getElementById(rowNumber).style.backgroundColor = '#FFFFFF';
    } else {
      document.getElementById(rowNumber).style.backgroundColor = '#ACCEE5';
    }
  }

  let error = false;

  $('input').change(function () {
    error = false;
  });

  $.date = function (dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    if (day < 10) {
      day = "0" + day;
    }
    if (month < 10) {
      month = "0" + month;
    }
    var date = day + "." + month + "." + year;

    return date;
  };

  $('#save_button').click(function (e) {
    e.preventDefault();
    checkInputs();
    if (error) {
      document.getElementById('bad').style.display = 'inline';
      return
    };
    let EssForm = [];
    $('input:checked').each(function () {
      var el = $(this);
      EssForm.push(el.val());
    });
    EssForm.push($.date(new Date()));
    console.log(EssForm);
    $.ajax({
      type: 'POST',
      url: '/vyber_dotaznika/epworthska_skala_spavosti?pacient=' + getUrlParameter('pacient'),
      data: JSON.stringify(EssForm),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data, status) {
        window.location = '/zoznam_pacientov';
      },
      error: function (error) {
        console.log(error);
      }
    })
  });

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };

  function checkInputs() {

    var isChecked = false, ans, creator, radioBtnsAns;

    radioBtnsAns = [1, 2, 3, 4, 5, 6, 7, 8];

    // check CREATOR
    for (var i = 0; i <= 2; i++) {
      isChecked = isChecked + document.getElementsByName('ESS_creator')[i].checked;
    }
    if (isChecked === 0) {
      document.getElementById('0').style.backgroundColor = '#e4938a';
      error = true;
    } else {
      document.getElementById('0').style.backgroundColor = '#2ecc71';
    }

    // check RADIO INPUTS
    for (ans = 0; ans < radioBtnsAns.length; ans++) {
      isChecked = false;
      for (var i = 0; i <= 3; i++) {
        isChecked = isChecked + document.getElementsByName('ESS_answer_' + radioBtnsAns[ans])[i].checked;
      }
      if (isChecked === 0) {
        document.getElementById(radioBtnsAns[ans]).style.backgroundColor = '#e4938a';
        error = true;
      } else {
        document.getElementById(radioBtnsAns[ans]).style.backgroundColor = '#2ecc71';
      }
    }
  }
</script>