<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/pagesStyles.css">
    <title>Výber dotazníka</title>
  </head>
  <body>

      <div id="header">

          <div id="title_position">
              <label id="title_text">Detské spánkové laboratórium</label>
          </div>
  
          <div id="logout_btn_position">
            <button class="action_button_2" id="logout_btn">Odhlásiť</button>
          </div>
          
      </div>

    <div class="login_container">

        

      <div class="loginBtn_container">
        <button class="action_button" onclick="location.href='DSD1.html'" disabled>Detský spánkový dotazník</button>
      </div>
      <div class="loginBtb_container">
          <button class="action_button" onclick="location.href='SCR.html'">SCR</button>
      </div>
      <div class="loginBtb_container">
        <button class="action_button" onclick="location.href='epworthskaSkalaSpavosti.html'">Epworth</button>
      </div>
      <div class="loginBtb_container">
        <button class="action_button" onclick="location.href='rannyDotaznik.html'" disabled>Ranný dotazník</button>
      </div>
      <div class="loginBtb_container">
        <button class="action_button">Iný</button>
      </div>

      
          
      </div>



    </div>

    <div id="footer-wrap">

        <div id="footer">

          <div id="left_text_container">
            <label id="left_text"></label>
          </div>

          <div id="right_text_container">
            <label id="right_text"></label>
          </div>

        </div>

  </body>
</html>