<div class="login_container">
  <div class="loginBtn_container">
    <button class="action_button" id="csq">Detský spánkový dotazník</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" onclick="location.href='SCR.html'">SCR</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" onclick="location.href='epworthskaSkalaSpavosti.html'">Epworth</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" onclick="location.href='rannyDotaznik.html'">Ranný dotazník</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button">Iný</button>
  </div>
</div>

<script>
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };

  $('#csq').click(function () {

    location.href = "/vyber_dotaznika/detsky_spankovy_dotaznik?pacient=" + getUrlParameter('pacient');
  });
</script>