<div class="login_container">
  <div class="loginBtn_container">
    <button class="action_button" onclick="location.href='DSD1.html'" disabled>Detský spánkový dotazník</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" onclick="location.href='SCR.html'">SCR</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" onclick="location.href='epworthskaSkalaSpavosti.html'">Epworth</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" onclick="location.href='rannyDotaznik.html'" disabled>Ranný dotazník</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button">Iný</button>
  </div>
</div>