<body>
  <div id="login_container">
    <div class="cont">
      <div>
        <button class="action_button" id="newPatient" type="submit">Pridať nového pocienta</button>
      </div>
      <div>
        <button class="action_button" id="patientManagement" href="">Správa pacientov</button>
      </div>
    </div>
  </div>
</body>

<script>
  $('#newPatient').click(function(){
    location.href="/registracia_pacienta";
  });

  $('#patientManagement').click(function(){
    location.href="/zoznam_pacientov";
  })
</script>