<body>
  <div id="login_container">
    <div class="cont">
      <div>
        <form action="/Novy-pacient" method="POST">
          <button class="action_button" type="submit">Pridať nového pocienta</button>
        </form>
      </div>

      <div>
        <button class="action_button" href="">Správa pacientov</button>
      </div>
    </div>

    <div id="footer-wrap">

      <div id="footer">

        <div id="left_text_container">
          <label id="left_text"></label>
        </div>

        <div id="right_text_container">
          <label id="right_text"></label>
        </div>

      </div>

    </div>

  </div>
</body>