<html>
  <head>
    <title>Nový pacient</title>
    <link rel="stylesheet" type="text/css" href="styles/pagesStyles.css">
  </head>

  <body>

    <div>
      <form method="post">

        <div class="">
          <label>Meno:</label>
          <input class="input_patient_info" type="text">
          <div class="errorText">
            Nezadali ste meno pacienta.
          </div>
        </div>

        <div>
          <label>Priezvisko:</label>
          <input class="input_patient_info" type="text">
          <div class="errorText">
            Nezadali ste priezvisko pacienta.
          </div>
        </div>

        <div>
          <label>Dátum narodenia:</label>
          <input class="input_patient_info" type="date">
          <div class="errorText">
            Nezadali ste dátum narodenia pacienta.
          </div>
        </div>

        <div>
            <label>Výška:</label>
            <input class="input_patient_info" type="number">
            <div class="errorText">
              Nezadali ste výšku pacienta.
            </div>
        </div>

        <div>
          <label>Váha:</label>
          <input class="input_patient_info" type="number">
          <div class="errorText">
            Nezadali ste váhu pacienta.
          </div>
        </div>

        <div>
          <label>Obvod krku:</label>
          <input class="input_patient_info" type="number">
          <div class="errorText">
            Nezadali ste obvod krku pacienta.
          </div>
        </div>

        <div>
          <button class="action_button_2" id="reset_button">Vymazať</button>
          <button class="action_button_2" id="save_button">Uložiť</button>
        </div>

      </form>
    </div>

  </body>
</html>