<div id="filter_container">
  <div id="filter_position">
    <form>
      <div>
        <label>FILTER</label>
      </div>
      <div>
        <div>
          <label class="filter_title">Meno pacienta</label>
        </div>
        <div>
          <input type="text">
        </div>
      </div>

      <div>
        <div>
          <label class="filter_title">Dátum</label>
        </div>
        <div>
          <label>Od</label>
        </div>
        <div>
          <input type="date">
        </div>
        <div>
          <label>Do</label>
        </div>
        <div>
          <input type="date">
        </div>
      </div>

    </form>
  </div>
</div>

<div id="patient_list_container">
  <div>
    <table>
      <tr class="borders">
        <th>Priezvisko</th>
        <th>Meno</th>
        <th>Dotazníky</th>
        <th>Posledná aktualizácia</th>
        <th>Možnosti</th>
      </tr>

      <tr>
        <td>Anonym</td>
        <td></td>
        <td>Nejakyyyy</td>
        <td>5.6.2018</td>
        <td>
          <button class="table_btn">Zobraziť</button>
          <button class="table_btn">Upraviť</button>
        </td>
      </tr>

      <tr>
        <td>Mrkvička</td>
        <td></td>
        <td>henten, tamten</td>
        <td>22.5.2017</td>
        <td>
          <button class="table_btn">Zobraziť</button>
          <button class="table_btn">Upraviť</button>
        </td>
      </tr>

      <tr>
        <td>Cerveny</td>
        <td></td>
        <td>jeden</td>
        <td>11.11.2016</td>
        <td>
          <button class="table_btn">Zobraziť</button>
          <button class="table_btn">Upraviť</button>
        </td>
      </tr>

      <tr>
        <td>Zeleny</td>
        <td></td>
        <td>dva, tri, styri</td>
        <td>5.8.2018</td>
        <td>
          <button class="table_btn">Zobraziť</button>
          <button class="table_btn">Upraviť</button>
        </td>
      </tr>

      <tr>
        <td>Zlty</td>
        <td></td>
        <td>Jeden iba</td>
        <td>6.12.2019</td>
        <td>
          <button class="table_btn">Zobraziť</button>
          <button class="table_btn">Upraviť</button>
        </td>
      </tr>
    </table>
  </div>
</div>