<html>

<head>
	<title>Dotazník</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>

<body>
	<form>
		<label>V porovnaní s obvyklým spánkom doma ste (Vaše dieťa) spali:</label>

		<label>Ak ste spali horšie, uveďte prosím dôvod:</label>

		<label>V porovnaní s obvyklým spánkom bol Váš (Vášho dieťaťa) spánok:</label>

		<label>Trvalo Vám (Vášmu dieťaťu) zaspatie dlhšie ako obvykle?</label>

		<label>Budili ste sa (Vaše dieťa) počas noci častejšie ako obvykle?</label>

		<label>Trvalo Vám (Vášmu dieťaťu) dlhšie kým ste zaspali po nočnom prebudení?</label>
		
	</form>
</body>

</html>