<style>
  .back_to_list a {
    text-decoration: none;
    color: #3686BE;
    margin-left: 30px;
  }
</style>

<div class="back_to_list">
  <a href="/zoznam_pacientov">Späť na zoznam pacientov</a>
</div>

<div class="login_container">
  <div class="loginBtn_container">
    <button class="action_button" id="showCSQ" {{CSQ}}>Detský spánkový dotazník</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" id="showOSAS" {{OSAS}}>Syndróm OSA</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" id="showESS" {{ESS}}>Epworthská škála spavosti</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" id="showMQ" {{MQ}}>Ranný dotazník</button>
  </div>
</div>

<script>
  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };

  $("#showCSQ").click(function () {
    location.href = "/zoznam_dotaznikov_pacienta/detsky_spankovy_dotaznik?pacient=" + getUrlParameter('pacient');
  });

  $("#showOSAS").click(function () {
    location.href = "/zoznam_dotaznikov_pacienta/syndrom_OSA?pacient=" + getUrlParameter('pacient');
  })

  $("#showESS").click(function () {
    location.href = "/zoznam_dotaznikov_pacienta/epworthska_skala_spavosti?pacient=" + getUrlParameter('pacient');
  })

  $("#showMQ").click(function () {
    location.href = "/zoznam_dotaznikov_pacienta/ranny_dotaznik?pacient=" + getUrlParameter('pacient');
  })
</script>