<style>
  .back_to_list a {
    text-decoration: none;
    color: #3686BE;
    margin-left: 30px;
  }

  #notAllowed {
    background-color: #E1EBF2;
    cursor: not-allowed;
  }
</style>

<div class="back_to_list">
  <a href="/zoznam_pacientov">Späť na zoznam pacientov</a>
</div>

<div class="login_container">
  <div class="loginBtn_container">
    <button class="action_button" id="{{CSQ}}">Detský spánkový dotazník</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" id="{{OSAS}}">Syndróm OSA</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" id="{{ESS}}">Epworthská škála spavosti</button>
  </div>
  <div class="loginBtb_container">
    <button class="action_button" id="{{MQ}}">Ranný dotazník</button>
  </div>
</div>