body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
}

.cont {
  text-align: center;
  height: 400px;
}

.back_to_list a {
  text-decoration: none;
  color: #3686BE;
  margin-left: 30px;
}

/*****************************************************************************/
/* PATIENT LIST STYLES */

.borders {
  background-color: rgb(0, 67, 116);
  text-align: left;
  color: white;
  height: 30px;
  border: 0;
}

#patient_list_container th {
  width: 150px;
}

#list button {
  background-color: white;
  border: 1px solid rgb(0, 67, 116);
  border-radius: 2px;
  color: rgb(0, 67, 116);
  width: 150px;
  height: 19px;
  font-weight: bold;
}

#list td {
  padding-left: 10px;
  height: 44px;
}

#list th {
  padding-left: 10px;
}

.hidden {
  display: none;
}

#list {
  border-collapse: collapse;
  border: 2px solid rgb(0, 67, 116);
  border-radius: 5px;
  margin-bottom: 10px;
}

#list tr {
  border-bottom: 1px solid rgb(0, 67, 116);
}

.filter {
  border: 2px solid rgb(0, 67, 116);
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.filter_title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(0, 67, 116);
  font-weight: bold;
}

.filter_header {
  color: rgb(0, 67, 116);
  font-weight: bold;
  margin-top: 10px;
}

.filter_header label {
  font-size: large;
}

#filterBtn {
  background-color: #3686BE;
  color: white;
}

#excelBtn {
  background-color: #3686BE;
  color: white;
}

/*****************************************************************************/
/* HEADER STYLES */

#logout_btn {
  color: rgb(0, 67, 116);
  border: 2px solid rgb(0, 67, 116);
  background-color: white;
  font-size: 15px;
}

#logout_btn_position {
  float: right;
}

#title_position {
  padding-left: 10px;
  display: inline-block;
  margin-top: 18px;
}

#title_text {
  color: white;
  font-weight: bold;
  font-size: xx-large;
  text-decoration: none;
}

#title_text:hover {
  cursor: pointer;
}

header {
  background-color: #3686BE;
  width: 100%;
  height: 80px;
}

/*****************************************************************************/
/* LOGIN PAGE STYLES */

#background{
  position: relative;
}

#login_header {
  height: 80px;
  width: 100%;
  background-color: #3686BE;
}

.login_container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: medium;
}

.input_title {
  margin-top: 15px;
  margin-bottom: 10px;
}

.ipnut_container {
  text-align: left;
}

.input_field {
  width: 300px;
  height: 35px;;
  background-color: #E1EBF2;
  font-size: 16px;
  border-radius: 5px;
}

.loginBtb_container {
  text-align: center;
}

.action_button {
  background-color: #3686BE;
  font-weight: bold;
  color: white;
  width: 300px;
  height: 40px;
  margin-top: 30px;
  border-radius: 5px;
}

.loginBtb_container .action_button {
  width: 308px;  
}

.action_button:hover {
  cursor: pointer;
}

.action_button:disabled {
  background-color: #ACCEE5;
  cursor: not-allowed;
}

.errorText {
  text-align: left;
  color: red;
  margin-top: 10px;
}

/*****************************************************************************/
/* NEW PATIENT PAGE STYLES */

#registration_container {
  padding-top: 30px;
  margin: auto;
  width: 50%;
  text-align: center;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}
.form-control input {
  background-color: #E1EBF2;
  border-radius: 5px;
}

.form-control select {
  background-color: #E1EBF2;
}

.form-control option {
  background-color: #E1EBF2;
  border-radius: 5px;
  width: 150px;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
  background-color: #e4938a;
}

.form-control.error p {
  visibility: visible;
  color: #e74c3c;
}

.form-control p {
  visibility: hidden;
  position: absolute;
  margin: auto;
  font-size: smaller;
  left: 20%;
  right: 20%;
}

.action_button_2 {
  border-radius: 5px;
  font-weight: bold;
  width: 110px;
  height: 40px;
  margin: 20px;
}

.action_button_2:hover {
  cursor: pointer;
}

#reset_button {
  background-color: #E1EBF2;
  color: #3686BE;
}

#save_button {
  background-color: #3686BE;
  color: white;
}

/*****************************************************************************/
/* PATIENT MANAGEMENT PAGE */

#filter_container {
  position: fixed;
  float: left;
  width: 25%;
  height: 100%;
  margin-left: 10px;
}

#filter_position {
  text-align: center;
}

#patient_list_container {
  float: right;
  width: 75%;
}

/******************************************************************************/
/* QUESTIONAIRE PAGES */

.qustionaire_info {
  margin-left: 15px;
  padding-left: 15px;
}

.qustionaire_info b {
  color: rgb(0, 67, 116);
}

.qustionaire_info u {
  color: rgb(0, 67, 116);
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.row_content label {
  color: rgb(0, 67, 116);
  background-color: #E1EBF2;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
  border: solid 2px #3686BE;
  border-radius: 2px;
}

input[type=radio]:checked+label {
  color: white;
  background-color: #3686BE;
}

.row_content {
  width: 100%;
  height: 70px;
  float: right;
  border-top: solid 2px #3686BE;
  border-bottom: solid 2px #3686BE;
}

.radio-group {
  border: solid 3px lighten(#332f35, 20%);
  display: inline-block;
  margin: 20px;
  overflow: hidden;
  float: right;
}

.radio-group p {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
}

.question-group {
  position: absolute;
  float: left;
  width: 60%;
}

.question-group p {
  font-weight: bold;
  font-size: 16px;
}

.form_buttons {
  text-align: center;
}

.form_buttons p {
  display: none;
  color: #e74c3c;
}

.section {
  margin: 20px;
  color: rgb(0, 67, 116);
}

.row_content p {
  margin-left: 10px;
}
